@page "/register"
@inject IUserQM _userService
@inject NavigationManager _navigator
@inject ISnackbar _alert
@layout LoginLayout

<MudCard Outlined="false" Elevation="0">
    <MudCardContent>
            <MudText Typo="Typo.h3" Align="Align.Center" >Registrate</MudText>
            <div class="space-top">
                <MudTextField T="string" Label="Email" Variant="Variant.Outlined" Adornment="Adornment.End"  InputType="InputType.Email" AdornmentIcon="@Icons.Material.Filled.Mail" @bind-Value="_model.UserEmail" />
            </div>
            <div class="space-top">
                <MudTextField T="string"  Label="Contrase침a" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"  @bind-Value="_model.UserPassword"/>
            </div>
            <div class="space-top">
                <MudTextField T="string"  Label="Confirma la contrase침a" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"  @bind-Value="PasswordConfirm"/>
            </div>
            <MudButton Variant="Variant.Filled" FullWidth="true"  Style="@($"background:{ColorInput};margin-top:1rem;color:white;")" OnClick="UserRegister">Inicia sesi칩n</MudButton>
            
    </MudCardContent>
</MudCard>


@code{
    
    
    private User _model = new User();

    string ColorInput = Colors.LightBlue.Accent1;
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordConfirm = String.Empty;

   
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }


    
    private async Task UserRegister()
    {
        _model.UserRole = "admin";
        _model.UserNickname= "USERTEST";
        _alert.Configuration.RequireInteraction = true;
        if(_model.UserPassword != PasswordConfirm)
        {
            _alert.Add("Las contrase침as no coinciden", Severity.Error);

        }
        else{
            await _userService.Register(_model);
            _model = new User();
            
            _alert.Add("Te has registrado con exito", Severity.Success);
            await Task.Delay(3000);
            _navigator.NavigateTo("/login");
        

        }
        
    }


}